extends layout

block content
    h1 create a new chat room

    form(method="post")
        fieldset.form-group
            label(for="name") Name :
            input.form-control(name ="name", type="text", placeholder="Entrer un nom de la Room")
            small.text-muted Donner un nom significatif à votre chat Room
        button.btn.btn-primary(type="submit") Créer une nouvelle chat Room
    a.btn.btn-primary(href="/admin/rooms") Back

